{% extends 'emp_base.html' %}

{% block main %}

<div class="card Shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange">Profile</h5>

        <div class="container-fluid">
            <form method="post" >
                  {% csrf_token %}
                  <div class="from-row">
                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>First Name</label>
                              <input type="text" name="firstname" class="from-control" placeholder="Enter First Name" pattern="[A-Za-z]+" value="{{employee.user.first_name}}">
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Last Name</label>
                              <input type="text" name="lastname" class="from-control" placeholder="Enter Last Name" pattern="[A-Za-z]+" value="{{employee.user.last_name}}">
                          </div>
                      </div>

                       <div class="col-sm-12">
                          <div class="from-group">
                              <label>Employee Code</label>
                              <input type="text" name="empcode" class="from-control" placeholder="Enter Your Employee Code" pattern="[0-9]+" value="{{employee.empcode}}">
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Employee Department</label>
                              <input type="text" name="department" class="from-control" placeholder="Department" value="{{employee.empdept}}">
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Employee Designation</label>
                              <input type="text" name="designation" class="from-control" placeholder="Designation" value="{{employee.designation}}">
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Contact</label>
                              <input type="text" name="contact" class="from-control" placeholder="Contact Number" value="{{employee.contact}}">
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Email ID</label>
                              <input type="email" name="emailid" class="from-control" placeholder="Email ID" value="{{employee.user.username}}">
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Joining Date [{{employee.joiningdate}}]</label>
                              <input type="date" name="jdate" class="from-control" >
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="from-group">
                              <label>Gender [{{employee.gender}}]</label>
                              <select name="gender" class="from-control">
                                  <option value="None">Select Gender</option>
                                  <option value="Female">Female</option>
                                  <option value="Male">Male</option>
                              </select>
                          </div>
                      </div>



                  </div>

                  <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Profile Updated Successfully');
    window.location = ('{% url 'profile' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong , Try Again... ');

</script>
{% endif %}

{% endblock  %}